.chat-header--container {
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: lightgray solid 1px;
  max-height: 40px;

}

.chat-header--pic {
  background-color: maroon;
  flex: 0 1 20px;
  height: 20px;
  border-radius: 20px;
}

.chat-header--name {
  flex: 1 1 90%;
  margin-left: 5%;

}

.chat-header--close {
  align-self: flex-start;
}
